#vivado gitignore files
*.cache/
*.runs/
*.sim/
*.hw/

*.log
*.jou
*.rpt
*.vdi


.Xil/
.webtalk.*
vivado*.pid*.str
hs_err_pid*

*.backup.*
*.debug
*.ip_user_files/

*.bit
*.bin
*.mcs
*.svf

*.edf
*.edif
*.vn
*.vm

*.sdf
*.vcd
*.saif
*.tcf
*.wdb
